.card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.card-subtitle {
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
